<h1>List of all articles below</h1>

<%= link_to "Create an article", new_article_path %>

<ul>
<% @articles.each do |article| %>
<li>
  <h2><%= article.title %></h2>
  <p><%= article.content %></p>
  <%= link_to "Show article", article_path(article) %>
</li>
<% end %>
</ul>

